/* By Maliha Tarafdar */
* {font-family: 'Titillium Web', sans-serif;}

/* Change scrollbar */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: gray;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
	background: #4f5664;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
	background: #383e47;
}
::-webkit-scrollbar-thumb:active {
	background: #2d3139;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

/* Change text highlight */
::selection {
	background: 	rgba(0, 179, 179, .6) !important;
}

/* background and hero image */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

/* hero image */
.hero-img {
  background-image: url(../img/altBackground2.jpg);
  height: 93%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: cyan;
    font-size: 25px;
}

#name {
  font-size: 70px;
}

/* navbar */
nav .navbar {
  background-color: black;
}

.navbar-brand > span, nav > ul > li > a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

nav > ul > li > a:hover, .navbar-brand:hover > #firstName {
	color:cyan !important;
}

.navbar-brand:hover > #lastName {color:white !important;}

/* footer */
footer {
  text-align: center;
  color: white;
  background-color: #262626;
  padding: 10px;
}

/* CSS media querries */
@media (min-width: 700px) {
    
}
